/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Center text globally */
}

/* Header Styling */
h1, h2 {
    color: navy; /* Navy color for titles */
    margin: 30px 0; /* Spacing around headers */
    text-align: center; /* Centering headers */
    font-size: larger; /* Bigger font size for headers */
}

/* Styling for Iframes */
iframe {
    width: 95%; /* Increased width for larger iframe */
    height: 850px; /* Increased height for larger iframe */
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Space between iframes */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Center iframes */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    iframe {
        width: 98%; /* Adjusted width for smaller screens */
        height: 450px; /* Adjusted height for smaller screens */
    }

    h1, h2 {
        font-size: medium; /* Adjusted font size for smaller screens */
    }
}
